header {
    max-width: 100%;
    padding: 0 15px 0;
    display: flex;
    justify-content: space-between;
}

.flex-item1 {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    padding: 8px 0 2px;
}

.item1-child {
    margin-right: 3px;
}

.search-item {
    display: inline-flex;
    align-items: center;
    background-color: #ebedf5;
    gap: 6px;
    border-radius: 50px;
    width: 240px;
    height: 40px;
    padding-left: 10px;
}

.svg-search{
    width: 20px;
    height: 20px;
}

.svg2 {
    width: 30x;
    height: 30px;
}

.flex-item2 {
    display: flex;
    gap: 20px;
    height: 42px;
    align-items: center;
    text-align: center;
    padding: 20px 0 0 0;
}

.item2-child {
    width: 100px;
    height: 42px;
}

.item2-child:not(:focus):hover {
    background-color: rgb(221, 217, 217);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    height: 42px;
    margin-bottom: 13px;
}

.item2-child:focus {
    fill: blue;
    border-bottom: 4px blue solid;
    height: 42px;
}

.svg3 {
    max-width: 20px;
    max-height: 20px; 
    width: 40px;
}

.svg3-1 {
    width: 15px;
    max-height: 14px;
}

.flex-item3 {
    display: flex;
    gap: 10px;
    padding: 8.5px 0 0 0;
}

.item3-child {
    background-color: #e4e6eb;
    align-items: center;
    border-radius: 500px;
    padding: 8px;
    width: 38px;
    height: 38px;
}

.item3-child-5 {
    background-color: #e4e6eb;
    align-items: center;
    border-radius: 500px;
    padding: 12px;
    width: 38px;
    height: 38px;
}

.profile {
    padding-right: 15px;
}

.profile, .profile p {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.profile:hover {
    border-radius: 50px;
    background-color: #e4e6eb;
}

.profile:focus {
    color: blue;
    border-radius: 50px;
    background-color: rgb(133, 133, 226);
}

.item3-child:hover, .item3-child-5:hover {
    background-color: #c2c4c7;
}

.item3-child:focus, .item3-child-5:focus {
    fill: blue;
    background-color: rgb(133, 133, 226);
}

section {
    width: 100%;
    height: 100rem;
    background-color: grey;
}

@media screen and (max-width: 1235px){
    .flex-item1 input {
        display: none;
    }
}